body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    /*background-image: url("../imgs/asd.gif");*/
    background-repeat: no-repeat;
    background-color: #FCFEFC;
    /*background-size: cover; !* Изображение масштабируется, чтобы покрыть весь экран *!*/
    background-position: center; /* Центрирование изображения */
    background-attachment: fixed; /* Фон остается на месте при прокрутке */
}

header {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-family: monospace;
    color: #e18286;
    font-size: 25px;
}

.header_blocks_class {
    margin: 5%;
}

main {

    width: 100%;
    height: 100%;
}

.form_for_img {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #DFDBE5;
    /*background-position-x: left;*/
    /*padding: 10px;*/
}

.grid_form_layout {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.check_dot_block_X {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input[lang="X_button"]:hover {
    color: #e18286;
}

input[lang="X_button"]:active {
    color: red;
}

#x {
    display: flex;
    justify-content: center;
    text-align: center;
}

#y {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.check_dot_blocks:hover{
    color: red;
}
#radius {
    display: flex;
    align-items: center;
    justify-content: center;
}
#draw_img{
    display: flex;
    justify-content: center;
    border:1px solid #000000
}
#Canvas{
    border:1px solid #000000

}
#textInput {
    text-align: center;
}

